{% extends 'news/base.html' %}
{% load static %}

{% block title %}Parolni parolini tiklash{% endblock title %}

{% block content %}
<h1>Parolni o'zgartirish</h1>
<p>Parolingizni o'zgartirish uchun formani to'ldiring</p>
{% if validlink %}
<p>Iltimos yangi parolni ikki marta kiriting</p>
<form method="post">{% csrf_token %}
{{ form.as_p }}
    <p><button type="submit">Parolni almashtirish</button></p>
</form>
{% else %}
<p>Siz noto'g'ri linkdan foydalandingiz</p>
{% endif %}
{% endblock content %}
